body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #5e7285;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #76bbcc;
    color: #ffffff;
}
.bg-2 {
    background-color: #5e98a6;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #47727d;
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*
.container-extra {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}