<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculator BMI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            </button>
            <a class="navbar-brand" href="/">Let's go fun!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://bitbucket.org/ilonaszafner/"><span class="glyphicon glyphicon-education"></span> Bitbucket</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Dziękujemy za przesłanie danych!</h3>

        <div class="row">
            <div>
                <h4>Twoja wartość BMI:</h4>
                <h5><tr th:text="${result}"></tr></h5>
            </div>
            <div>
                <h3>Twój wynik to:</h3>
                <h4><tr th:text="${resultBMI}"></tr></h4>
            </div>

        </div>
    </form>
</div>

<div class="container-fluid bg-3 text-center">
    <h4>Chcesz wiedzieć więcej?</h4>
    <h3 class="margin">Co nieco teorii o BMI!</h3>
    <div class="row">
        <div class="col-sm-4">
            <p>Wskaźnik masy ciała - (ang. body mass index, BMI), także wskaźnik Queteleta II – współczynnik powstały przez podzielenie masy ciała podanej w kilogramach przez kwadrat wysokości podanej w metrach.
                Klasyfikacja (zakres wartości) wskaźnika BMI została opracowana wyłącznie dla dorosłych i nie może być stosowana u dzieci.
                Dla oceny prawidłowego rozwoju dziecka wykorzystuje się siatki centylowe, które powinny być dostosowane dla danej populacji.
            </p>
            <img src="kiwi.jpg" class="img-circle" alt="Tu pojawi się kiwi" width="35%" height="35%">
        </div>
        <div class="col-sm-4">
            <p>Oznaczanie wskaźnika masy ciała ma znaczenie w ocenie zagrożenia chorobami związanymi z nadwagą i otyłością,
                np. cukrzycą, chorobą niedokrwienną serca, miażdżycą.
                Podwyższona wartość BMI związana jest ze zwiększonym ryzykiem wystąpienia takich chorób.</p>
            <img src="orange.jpg" class="img-circle" alt="Tu pojawi się pomarańcza" width="35%" height="35%">
        </div>
        <div class="col-sm-4">
            <p>BMI jest bardzo prosty w użyciu, jednak nie uwzględnia on indywidualnej budowy ciała.
                Jest dosyć niedokładnym wskaźnikiem niedowagi i nadwagi oraz ryzyk chorób z nimi związanych.
                Kulturyści mogą mieć BMI wskazujące na skrajną otyłość, posiadając jednocześnie bardzo mało tkanki tłuszczowej.
                Z drugiej strony, BMI zupełnie zdrowych, szczupłych i wysokich lekkoatletów może wskazywać na skrajną niedowagę
                (np. BMI Yohanna Diniza przy wzroście 185 cm i wadze 59 kg wyniesie 17,24). Związek między wielkością wskaźnika a ryzykiem chorób różni się między populacjami o różnych proporcjach ciała.
                I tak wśród Azjatów ryzyko cukrzycy jest znacząco wyższe przy niższych wartościach BMI. Zawartość tłuszczu w organizmie jest też wyższa u kobiet, niż u mężczyzn przy normalnej masie ciała.
                W przypadku kobiet tkanka tłuszczowa odpowiada za płodność i dojrzewanie płciowe.</p>
            <img src="strawberry.jpg" class="img-circle" alt="Tu pojawi się truskawka" width="35%" height="35%">
        </div>
    </div>
</div>


<footer class="container-fluid bg-4 text-center">
    <p>Część teoretyczna została pobrana ze strony:</p>
    <a href="https://pl.wikipedia.org/wiki/Wska%C5%BAnik_masy_cia%C5%82a">Wikipedia</a>
    <p>Grafikę w projekcie zawdzięczamy:</p>
    <a href="https://pl.freepik.com/darmowe-wektory/kolekcja-pyszne-plamy-soku-w-realistycznym-stylu_2130112.htm">Designed by Freepik</a>
</footer>

</body>
</html>
